USE [master]
GO
/****** Object:  Database [Сompetitions]    Script Date: 28.02.2019 23:00:30 ******/
CREATE DATABASE [Сompetitions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Сompetitions', FILENAME = N'J:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Сompetitions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Сompetitions_log', FILENAME = N'J:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Сompetitions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Сompetitions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Сompetitions]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 28.02.2019 23:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sports]    Script Date: 28.02.2019 23:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sportsmens]    Script Date: 28.02.2019 23:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sportsmens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Country_Id] [int] NOT NULL,
	[Sports_Id] [int] NOT NULL,
	[ResultOfCompetition] [int] NOT NULL,
 CONSTRAINT [PK_Sportsmens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sportsmens]  WITH CHECK ADD  CONSTRAINT [FK_Sportsmens_Countries] FOREIGN KEY([Country_Id])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Sportsmens] CHECK CONSTRAINT [FK_Sportsmens_Countries]
GO
ALTER TABLE [dbo].[Sportsmens]  WITH CHECK ADD  CONSTRAINT [FK_Sportsmens_Sports] FOREIGN KEY([Sports_Id])
REFERENCES [dbo].[Sports] ([Id])
GO
ALTER TABLE [dbo].[Sportsmens] CHECK CONSTRAINT [FK_Sportsmens_Sports]
GO
USE [master]
GO
